.ui.borderless.topmenu.container.menu.topmenu {
  border: none;
  box-shadow: none;
}

.image.background {
  background-image: url("http://courses.ics.hawaii.edu/ics314f20/morea/ui-frameworks/murphys-front.jpg");
  background-size: 500px;
  height: 500px;
}

.image.background .column .item {
  margin-top: 100px;
  color: white;
}

#paragraph {
  margin-top: 160px;
  color: white;
}

.footer {
  color: white;
  background-color: #004030;
  padding-top: 20px;
  padding-bottom: 20px;
}
